<h3>Update Book</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Book Name</label>
      <input type="text" class="form-control" id="bookName" required [(ngModel)]="book.bookName" name="bookName">
    </div>

    <div class="form-group">
      <label for="name">Author Name</label>
      <input type="text" class="form-control" id="authorName" required [(ngModel)]="book.authorName" name="authorName">
    </div>

    <div class="form-group">
      <label for="name">Book Id</label>
      <input type="text" class="form-control" id="bookId" required [(ngModel)]="book.bookId" name="bookId">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Book List</button><br>
